.progress {
    height: 100%;
    animation: progress-animation 10s ease-in-out forwards;
  }
  
  @keyframes progress-animation {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
